<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-list/iron-list.html">
<link rel="import" href="../../bower_components/paper-autocomplete/paper-autocomplete.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../behaviors/api-resource-behavior.html">
<link rel="import" href="confirm-delete-view.html">
<link rel="import" href="instance-view.html">
<link rel="import" href="property-view.html">

<dom-module id="company-view">

    <template>
        <style>
            :host {
                display: block;
                padding: 16px;
                --button-size: 50px;
            }
            :host .company-properties span {
                display: block;
            }
            paper-fab.add-instance {
                position: fixed;
                bottom: 10px;
                right: 50px;
                --paper-fab-background: var(--highlight-color);
            }

            paper-input, paper-autocomplete {
                --paper-input-container-input-color: var(--paper-teal-50);
                --paper-input-container-focus-color: var(--highlight-color);
            }

            paper-icon-button.save {
                color: var(--paper-light-green-500);
                width: var(--button-size);
                height: var(--button-size);
            }

            paper-icon-button.save:hover {
                background-color: var(--paper-light-green-500);
                color: var(--background-color);
            }

            paper-icon-button.delete {
                float:right;
                width: var(--button-size);
                height: var(--button-size);
                color: var(--paper-red-a200);
            }
            paper-icon-button.delete:hover {
                background-color: var(--paper-red-a200);
                color: var(--background-color);
            }

            #instanceList{
                @apply(--layout-fit);
                top: 16em;
                left: 16px;
                right: 16px;
            }

            instance-view {
                --instance-view-margin: 0 0 10px 0;
            }

            .company-properties paper-input {
                width: 47%;
                display: inline-block;
            }

            #propertiesModal {
                background-color: var(--paper-grey-500);
                width: 75%;
                margin-top: 120px;
                height: 90%;
            }

            #propertyActions {
                margin: 0;
            }

            property-view {
                height: calc(100% - 48px);
                height: -o-calc(100% - 48px);
                height: -webkit-calc(100% - 48px);
                height: -moz-calc(100% - 48px);
            }
        </style>

        <iron-ajax
            auto
            id="ajaxSearch"
            handle-as="json"
            on-response="parseSearchResults"
            last-response="{{searchResults}}"
        ></iron-ajax>

        <paper-autocomplete
            id="companySelector"
            label="Search"
            remote-source="true"
            on-input="search"
            on-autocomplete-selected="searchResultSelected"
            min-length="3"></paper-autocomplete>

        <div class="company-properties">
            <paper-input id="companyId" value="{{data.companyId}}" label="Company Id" auto-validate allowed-pattern="[0-9]"></paper-input>
            <paper-input value="{{data.name}}" label="Name"></paper-input>
<!--            <paper-input value="{{data.employeeCount}}" label="Employee Count" auto-validate allowed-pattern="[0-9]""></paper-input>-->
<!--            <paper-input value="{{data.isActive}}" label="isActive""></paper-input>-->
<!--            <paper-input value="{{data.ownership}}" label="Ownership""></paper-input>-->
<!--            <paper-input value="{{data.createdAt}}" label="Created"></paper-input>-->
<!--            <paper-input value="{{data.updatedAt}}" label="Updated"></paper-input>-->
        </div>

        <paper-icon-button id="save" icon="save" on-click="saveResource" class="save">Save</paper-icon-button>

        <template is="dom-if" if="{{data.companyId}}">
            <paper-icon-button id="delete" icon="delete" on-click="confirmDelete" class="delete">Delete</paper-icon-button>
            <iron-list id="instanceList" items="{{childResources.instances.data}}" as="instance">
                <template>
                    <div>
                        <instance-view data="[[instance]]" auto-update></instance-view>
                    </div>
                </template>
            </iron-list>
            <paper-fab id="add-instance" icon="add" on-click="addInstanceClicked" class="add-instance"></paper-fab>
        </template>

        <confirm-delete-view id="confirmDelete" on-yes="deleteResource">
            Are you sure you want to delete this company and its instances?
        </confirm-delete-view>

        <paper-dialog
            id="propertiesModal"
            always-on-top
            entry-animation="scale-up-animation"
            exit-animation="fade-out-animation">
            <property-view></property-view>
        </paper-dialog>
    </template>

    <script>
        Polymer({
            is: 'company-view',
            behaviors: [
                Datahub.ApiResourceBehavior
            ],
            properties: {
                childResources: {
                    type: Object,
                    value: function () {
                        return {
                            'instances': {
                                data: []
                            }
                        }
                    }
                },
                idField: {
                    value:'companyId'
                },
                url: {
                    value: Datahub.apiUrl + 'company'
                },
                searchResults: Object,
                searchTimer: Object
            },
            attached: function () {

                this.$.companySelector.$.input.$.input.focus();

                window.propertiesModal = this.$.propertiesModal;
            },
            addInstanceClicked: function () {
                this.addInstance({});
            },
            addInstance: function (instance) {

                instance = instance || {};

                instance[this.idField] = this.data[this.idField];

                // push new instance to our array and notify polymer that it needs to render the new instance
                this.push('childResources.instances.data', instance);
            },
            searchResultSelected: function (e, selection) {
                // updates the company data model after a search result is selected
                this.set('data', this.searchResults._embedded.company[selection.option.index]);

                // kill the instances loaded
                this.set('childResources.instances.data', []);
            },
            search: function () {

                // perform a search when the user types in the input field
                var searchString = this.$.companySelector.$.input.value;

                // don't make request if we haven't met minimum search length
                if ( searchString.length < this.$.companySelector.minLength ) {
                    return;
                }

                // clear last request to be made
                clearTimeout(this.searchTimer);

                // set new request to happen in 0.5 seconds
                var self = this;
                this.searchTimer = setTimeout(function () {
                    Datahub.ajaxSpinners.add();
                    // search api
                    self.$.ajaxSearch.url = Datahub.apiUrl + 'company/search/fuzzy/' + encodeURIComponent(searchString);
                }, 500);

            },
            parseSearchResults: function () {

                Datahub.ajaxSpinners.remove();

                // do we have results?
                if ( !this.searchResults || !this.searchResults._embedded || !this.searchResults._embedded.company.length ) {
                    return;
                }

                // map raw search results to suggestions selector
                var suggestions = this.searchResults._embedded.company.map(function(company, index){
                    return {
                        text: '(' + company.companyId + ') ' + company.name,
                        value: company.name,
                        index: index
                    }
                });

                // set suggestions
                this.$.companySelector.suggestions(suggestions);
            },
            confirmDelete: function () {
              this.$.confirmDelete.open();
            }
        });
    </script>
</dom-module>
