<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../bower_components/iron-list/iron-list.html">
<link rel="import" href="../../bower_components/paper-autocomplete/paper-autocomplete.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../behaviors/api-resource-behavior.html">
<link rel="import" href="confirm-delete-view.html">

<dom-module id="entry-view">

    <template>
        <style>
            :host {
                box-sizing: border-box;
                background-color: var(--background-color);
                display: block;
                padding-left: 16px;
                padding-right: 16px;
                @apply(--layout-flex);
            }
            *, *:before, *:after {
                box-sizing: inherit;
            }

            paper-card {
                width: 100%;
                --paper-card-background-color: var(--paper-grey-200);
                margin: var(--entry-view-margin);
                padding: 1em;
            }

            .entry-properties paper-input {
                width: calc(20% - 0.2em);
                width: -o-calc(20% - 0.2em);
                width: -moz-calc(20% - 0.2em);
                width: -webkit-calc(20% - 0.2em);
                display: inline-table;
            }

            .meta-properties .meta-property {
                display: inline-table;
                width: 49%;
            }

            .meta-properties .meta-property paper-input {
                width: 49%;
            }

            paper-button.delete {
                float:right;
                color: var(--paper-red-a200);
            }
            paper-button.delete:hover {
                background-color: var(--paper-red-a200);
                color: var(--paper-grey-200);
            }

            #meta-properties-header * {
                display: inline-block;
            }

        </style>

        <paper-card heading="{{data.id}}">
            <div class="entry-properties">
                <paper-input value="{{data.featured}}" label="Featured"></paper-input>
                <paper-input value="{{data.featuredExpires}}" label="Expires"></paper-input>
                <paper-input value="{{data.logo}}" label="Logo URL"></paper-input>
                <paper-input value="{{data.image}}" label="Image URL"></paper-input>
                <paper-input value="{{data.promoText}}" label="Promo Text"></paper-input>
                <div class="meta-properties">
                    <div id="meta-properties-header">
                        <h3>Meta Properties</h3>
                        <paper-icon-button class="save" icon="add" on-click="addMetaClicked"></paper-icon-button>
                    </div>
                    <div>
                        <template is="dom-repeat" items="{{metas}}" as="meta">
                            <div class="meta-property">
                                <paper-input class="meta" value="{{meta.name}}" label="Name"></paper-input>
                                <paper-input class="meta" value="{{meta.value}}" label="Value"></paper-input>
                            </div>
                        </template>
                    </div>
                </div>
            </div>

            <template is="dom-if" if="[[data.id]]">
                <!--    Delete Button            -->
                <paper-button raised id="delete" on-click="confirmDelete" class="delete"><iron-icon icon="delete"></iron-icon>Delete</paper-button>
            </template>
            <confirm-delete-view id="confirmDelete" on-yes="deleteResource">
                Are you sure you want to delete this entry?
            </confirm-delete-view>
        </paper-card>
    </template>

    <script>
        Polymer({
            is: 'entry-view',
            behaviors: [
                Datahub.ApiResourceBehavior
            ],
            properties: {
                url: {
                    value: Datahub.apiUrl + 'dataset/entry'
                },
                metas: {
                    value: function () { return []; },
                    notify: true
                }
            },
            ready: function () {
                // listen for data changes
                this.listen(this, 'data-changed', 'dataChanged');
                this.listen(this, 'metas-changed', 'metaChanged');
            },
            metaChanged: function() {
                var metas = JSON.parse(JSON.stringify(this.metas || []));

                var self = this;
                metas.forEach(function(meta, index, metas){
                    metas[index] = self._convertDomMetaToApiMeta(meta);
                });

                this.data.meta = metas;
            },
            dataChanged: function () {
                // clone the meta array
                var metas = JSON.parse(JSON.stringify(this.data.meta || []));

                // transform key value pairs into a meaningful object
                var self = this;
                metas.forEach(function(meta, index, metas){
                    metas[index] = self._convertApiMetaToDomMeta(meta);
                });

                // save our meaningful object
                this.set('metas', metas);
            },
            confirmDelete: function () {
                this.$.confirmDelete.open();
            },
            addMetaClicked: function () {
                this.addMeta();
            },
            addMeta: function (meta) {
                meta = meta || {name: '', value: ''};

                this.push('metas', meta);
            },
            _convertDomMetaToApiMeta: function(domMeta) {

                var apiMeta = {};
                apiMeta[domMeta.name] = domMeta.value;
                return apiMeta;
            },
            _convertApiMetaToDomMeta: function(apiMeta) {
                var key = Object.keys(apiMeta)[0];

                return {
                    name: key,
                    value: apiMeta[key]
                }
            }

        });
    </script>

</dom-module>
