<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icons/social-icons.html">
<link rel="import" href="../../bower_components/neon-animation/animations/fade-out-animation.html">
<link rel="import" href="../../bower_components/neon-animation/animations/scale-up-animation.html">
<link rel="import" href="../../bower_components/paper-autocomplete/paper-autocomplete.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../behaviors/api-resource-behaivor.html">
<link rel="import" href="confirm-delete-view.html">
<link rel="import" href="property-view.html">

<dom-module id="instance-view">

    <template>
        <style>
            paper-card {
                width: 100%;
                --paper-card-background-color: var(--paper-grey-200);
                margin: var(--instance-view-margin);
            }

            #values {
                width: 95%;
                padding-left:1em;
            }

            #propertiesSearch {
                --paper-input-container-input-color: var(--text-color);
                --paper-input-container-focus-color: var(--highlight-color);
                margin-top: 0px;
            }

            paper-icon-button.save {
                color: var(--paper-light-green-500);
            }
            paper-icon-button.save:hover {
                background-color: var(--paper-light-green-500);
                color: var(--paper-grey-200);
            }

            paper-icon-button.contacts {
                color: var(--paper-light-blue-500);
            }
            paper-icon-button.contacts:hover {
                background-color: var(--paper-light-blue-500);
                color: var(--paper-grey-200);
            }

            paper-icon-button.delete {
                float:right;
                color: var(--paper-red-a200);
            }
            paper-icon-button.delete:hover {
                background-color: var(--paper-red-a200);
                color: var(--paper-grey-200);
            }

            paper-icon-button.show-properties {
                color: var(--background-color);
            }
            paper-icon-button.show-properties:hover {
                background-color: var(--background-color);
                color: var(--paper-grey-200);
            }

            #propertyActions {
                margin: 0;
            }

            paper-icon-button.add-property {
                float: right;
                color: var(--highlight-color);
            }
            paper-icon-button.add-property:hover {
                background-color: var(--highlight-color);
                color: var(--background-color);
            }

            property-view {
                padding: 5px;
            }

            #propertiesModal {
                background-color: var(--background-color);
                width: 75%;
                margin-top: 130px;
            }
            a.blank {
                text-decoration: none;
            }

            #values * {
                display: inline-block;
            }

            .col-3_4 {
                width: 74%; !important;
            }
            .col-1_2 {
                width: 48%; !important;
            }
            .col-1_3 {
                width: 32%; !important;
            }
            .col-1_4 {
                width: 24%;
            }
            .col-1_6 {
                width: 15%; !important;
            }
        </style>

        <paper-card heading="{{data.name}}">
            <div id="values">
                <paper-checkbox class="col-1_6" checked="{{data.isHeadquarters}}">Headquarters</paper-checkbox>
                <paper-input class="col-1_4" value="{{data.companyInstanceId}}" label="Instance Id" on-change="companyInstanceIdChanged" disabled></paper-input>
                <paper-input class="col-1_4" value="{{data.name}}" label="Name"></paper-input>
                <paper-input class="col-1_4" value="{{data.stockSymbol}}" label="Stock Symbol"></paper-input>
                <paper-input class="col-1_4" value="{{data.tickerExchange}}" label="Ticker Exchange"></paper-input>
                <paper-input class="col-3_4" value="{{data.url}}" label="Url"></paper-input>
                <paper-autocomplete class="col-1_2" value="{{data.marketCode}}" id="marketSelector" text-property="market_name" value-property="market_code" label="Market"></paper-autocomplete>
                <paper-autocomplete class="col-1_2" value="{{data.stateId}}" id="stateSelector" text-property="name" value-property="stateId" label="State"></paper-autocomplete>
<!--                <paper-input value="{{data.createdAt}}" label="Created"></paper-input>-->
<!--                <paper-input value="{{data.updatedAt}}" label="Updated"></paper-input>-->
            </div>

<!--    Save Button        -->
            <paper-icon-button id="save" icon="save" on-click="saveResource" class="save"></paper-icon-button>


            <template id="propertyTemplate" is="dom-if" if="{{data.companyInstanceId}}">
<!--    Contacts Button        -->
                <a href="/contacts/?instanceId={{data.companyInstanceId}}" class="blank">
                    <paper-icon-button id="contacts" icon="social:people" class="contacts"></paper-icon-button>
                </a>
<!--    Delete Button            -->
                <paper-icon-button id="delete" icon="delete" on-click="confirmDelete" class="delete"></paper-icon-button>
<!--    Properties Modal Button            -->
                <template is="dom-if" if="{{childResources.properties.data.length}}">
                    <paper-icon-button id="showProperties" icon="build" on-click="showProperties" class="show-properties">Properties</paper-icon-button>
                </template>
            </template>

            <paper-dialog
                id="propertiesModal"
                always-on-top
                on-iron-overlay-opened="propertiesOpened"
                entry-animation="scale-up-animation"
                exit-animation="fade-out-animation">
                <paper-input id="propertiesSearch" value="{{propertySearchString}}" label="Search"></paper-input>
                <paper-dialog-scrollable>
                    <template is="dom-repeat" items="{{childResources.properties.data}}"
                              filter="{{filterProperties(propertySearchString)}}"
                              observe="name value"
                    >
                        <property-view data="{{item}}" auto-update></property-view>
                    </template>
                </paper-dialog-scrollable>
                <div id="propertyActions">
                    <paper-icon-button id="addProperty" icon="add" on-click="addPropertyClicked" class="add-property"></paper-icon-button>
                </div>
            </paper-dialog>

            <confirm-delete-view id="confirmDelete" on-yes="deleteResource">
                Are you sure you want to delete this instance and its properties?
            </confirm-delete-view>
        </paper-card>

        <iron-ajax
            id="getState"
            auto
            handle-as="json"
            on-response="parseStateResponse"
            on-error="parseStateResponse"
        ></iron-ajax>

        <iron-ajax
            id="getMarket"
            auto
            handle-as="json"
            on-response="parseMarketResponse"
            on-error="parseStateResponse"
        ></iron-ajax>

    </template>

    <script>
        (function () {

            var states = {
                data: null,
                sorted: null,
                fetching: false,
                fetched: false,
                event: new Event('states-fetched')
            };

            var markets = {
                data: null,
                sorted: null,
                fetching: false,
                fetched: false,
                event: new Event('markets-fetched')
            };

            var element = document.createElement('div');

            Polymer({
                is: 'instance-view',
                behaviors: [
                    Datahub.ApiResourceBehavior
                ],
                properties: {
                    childResources: {
                        type: Object,
                        value: function () {
                            return {
                                'properties': {
                                    data: []
                                }
                            }
                        }
                    },
                    idField: {
                        value:'companyInstanceId'
                    },
                    url: {
                        value: Datahub.apiUrl + 'instance'
                    },
                    removeFromDomOnDelete: {
                        value: true
                    }
                },
                ready: function () {

                    // convert isHeadquarters flag to a true boolean for the checkbox
                    this.set('data.isHeadquarters', parseInt(this.data.isHeadquarters) === 1);

                    var self = this;

                    // get all the possible states from the api

                    // if we have already gotten the states, just attached them to autocomplete
                    if ( states.fetched ) {
                        this.$.stateSelector.source=states.data;
                        return;
                    }

                    // listen to the event fired when the states are fetched
                    element.addEventListener('states-fetched', function () {

                        // attach states to autocomplete
                        self.$.stateSelector.source=states.data;

                        // set current value of the autocomplete to the value of the instance
                        if ( !self.data.stateId ) {
                            return;
                        }
                        var state = states.sorted[self.data.stateId];
                        self.$.stateSelector.setOption({
                            text: state.name,
                            value: state.stateId
                        });
                    });

                    // first instance will do the actual api call for the states
                    if ( !states.fetching ) {
                        states.fetching = true;
                        Datahub.ajaxSpinners.add();
                        this.$.getState.url = Datahub.apiUrl + 'state';
                    }


                    // get all the possible markets from the api

                    // if we have already gotten the states, just attached them to autocomplete
                    if ( markets.fetched ) {
                        this.$.marketSelector.source=markets.data;
                        return;
                    }

                    // listen to the event fired when the markets are fetched
                    element.addEventListener('markets-fetched', function () {

                        // attach markets to autocomplete
                        self.$.marketSelector.source=markets.data;

                        // set current value of the autocomplete to the value of the instance
                        if ( !self.data.marketCode ) {
                            return;
                        }
                        var market = markets.sorted[self.data.marketCode];
                        self.$.marketSelector.setOption({
                            text: market.market_name,
                            value: market.market_code
                        });
                    });

                    // first instance will do the actual api call for the markets
                    if ( !markets.fetching ) {
                        markets.fetching = true;
                        Datahub.ajaxSpinners.add();
                        this.$.getMarket.url = Datahub.apiUrl + 'market';
                    }

                },
                parseStateResponse: function (event, response) {

                    Datahub.ajaxSpinners.remove();

                    // set flags that we have fetched the states
                    states.fetched = true;
                    states.fetching = false;

                    if (response.xhr && response.xhr.response) {
                        // save states api return
                        states.data = response.xhr.response;

                        // create map of stateId to state objects
                        states.sorted = {};
                        states.data.map(function (state) {
                            states.sorted[state.stateId] = state;
                        });

                        // notify all other elements that the states have been fetched
                        element.dispatchEvent(states.event);
                    }
                },
                parseMarketResponse: function (event, response) {

                    Datahub.ajaxSpinners.remove();

                    // set flags that we have fetched the states
                    markets.fetched = true;
                    markets.fetching = false;

                    if (response.xhr && response.xhr.response) {
                        // save markets api return
                        markets.data = response.xhr.response;

                        // create map of stateId to state objects
                        markets.sorted = {};
                        markets.data.map(function(market){
                            markets.sorted[market.market_code] = market;
                        });

                        // notify all other elements that the states have been fetched
                        element.dispatchEvent(markets.event);
                    }

                },
                confirmDelete: function () {
                    this.$.confirmDelete.open();
                },
                showProperties: function () {
                    this.$.propertiesModal.open();
                },
                addPropertyClicked: function () {
                    this.addProperty({});
                },
                addProperty: function (property) {

                    property = property || {};

                    property[this.idField] = this.data[this.idField];

                    // push new property to our array and notify polymer that it needs to render the new property
                    this.push('childResources.properties.data', property);
                },
                filterProperties: function (searchString) {
                    if ( !searchString ) {
                        return null;
                    }

                    return function (property) {
                        var value = property.value.toLowerCase();
                        var name = property.name.toLowerCase();
                        return ( value.indexOf(searchString) != -1 || name.indexOf(searchString) != -1);
                    }
                },
                propertiesOpened: function () {
                    this.$.propertiesModal.querySelector('paper-input').$.input.focus();
                }
            });
        })();
    </script>

</dom-module>
