<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icons/social-icons.html">
<link rel="import" href="../../bower_components/neon-animation/animations/fade-out-animation.html">
<link rel="import" href="../../bower_components/neon-animation/animations/scale-up-animation.html">
<link rel="import" href="../../bower_components/paper-autocomplete/paper-autocomplete.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../behaviors/api-resource-behavior.html">
<link rel="import" href="confirm-delete-view.html">

<dom-module id="instance-view">

    <template>
        <style>
            paper-card {
                width: 100%;
                --paper-card-background-color: var(--paper-grey-200);
                margin: var(--instance-view-margin);
            }

            #values {
                width: 95%;
                padding-left:1em;
            }

            #actions {
                padding-bottom: .3em;
            }

            paper-button.save {
                background-color: var(--paper-light-green-500);
                color: var(--paper-grey-200);
            }
            paper-button.save:hover {
                background-color: var(--paper-light-green-800);
                color: var(--paper-grey-200);
            }

            paper-button.contacts {
                color: var(--paper-light-blue-500);
            }
            paper-button.contacts:hover {
                background-color: var(--paper-light-blue-500);
                color: var(--paper-grey-200);
            }

            paper-button.delete {
                float:right;
                color: var(--paper-red-a200);
            }
            paper-button.delete:hover {
                background-color: var(--paper-red-a200);
                color: var(--paper-grey-200);
            }

            paper-button.show-properties {
                color: var(--background-color);
            }
            paper-button.show-properties:hover {
                background-color: var(--background-color);
                color: var(--paper-grey-200);
            }

            property-view {
                padding: 5px;
            }

            a.blank {
                text-decoration: none;
            }

            #values * {
                display: inline-block;
            }

            .col-3_4 {
                width: 74%; !important;
            }
            .col-1_2 {
                width: 48%; !important;
            }
            .col-1_3 {
                width: 32%; !important;
            }
            .col-1_4 {
                width: 24%;
            }
            .col-1_6 {
                width: 15%; !important;
            }
        </style>

        <paper-card heading="{{data.name}} - {{data.companyInstanceId}}">
            <div id="values">
                <paper-checkbox class="col-1_6" checked="{{data.isHeadquarters}}">Headquarters</paper-checkbox>
                <paper-input class="col-1_4" value="{{data.name}}" label="Name"></paper-input>
                <paper-input class="col-1_4" value="{{data.stockSymbol}}" label="Stock Symbol"></paper-input>
                <paper-input class="col-1_4" value="{{data.tickerExchange}}" label="Ticker Exchange"></paper-input>
                <paper-input class="col-3_4" value="{{data.url}}" label="Url"></paper-input>
                <paper-autocomplete class="col-1_2" value="{{data.marketCode}}" id="marketSelector" text-property="market_name" value-property="market_code" label="Market"></paper-autocomplete>
                <paper-autocomplete class="col-1_2" value="{{data.stateId}}" id="stateSelector" text-property="name" value-property="stateId" label="State"></paper-autocomplete>
<!--                <paper-input value="{{data.createdAt}}" label="Created"></paper-input>-->
<!--                <paper-input value="{{data.updatedAt}}" label="Updated"></paper-input>-->
            </div >
            <div id="actions">
                <!--    Save Button        -->
                <paper-button raised id="save" on-click="saveResource" class="save"><iron-icon icon="save"></iron-icon>Save</paper-button>

                <template id="propertyTemplate" is="dom-if" if="{{data.companyInstanceId}}">
                    <!--    Properties Modal Button            -->
                    <paper-button raised id="showProperties" on-click="showProperties" class="show-properties"><iron-icon icon="description"></iron-icon>Properties</paper-button>
                    <!--    Contacts Button        -->
                    <a href="/contacts/{{data.companyInstanceId}}" class="blank">
                        <paper-button raised id="contacts" class="contacts"><iron-icon icon="social:people"></iron-icon>Contacts</paper-button>
                    </a>
                    <!--    Delete Button            -->
                    <paper-button raised id="delete" on-click="confirmDelete" class="delete"><iron-icon icon="delete"></iron-icon>Delete</paper-button>
                </template>

            </div>
            <confirm-delete-view id="confirmDelete" on-yes="deleteResource">
                Are you sure you want to delete this instance and its properties?
            </confirm-delete-view>
        </paper-card>

    </template>

    <script>
        (function () {

            var propertyView;

            Polymer({
                is: 'instance-view',
                behaviors: [
                    Datahub.ApiResourceBehavior
                ],
                properties: {
                    childResources: {
                        type: Object,
                        value: function () {
                            return {
                                'properties': {
                                    data: []
                                }
                            }
                        }
                    },
                    idField: {
                        value:'companyInstanceId'
                    },
                    url: {
                        value: Datahub.env.api.url + 'instance'
                    },
                    removeFromDomOnDelete: {
                        value: true
                    },
                    sharedCachableResources: {
                        value: {
                            'states': {
                                url: Datahub.env.api.url + 'state',
                                indexBy: ['stateId']
                            },
                            'markets': {
                                url: Datahub.env.api.url + 'market',
                                indexBy: ['market_code']
                            },
                            'sourceTypes': {
                                url: Datahub.env.api.url + 'sourcetype',
                                indexBy: ['sourceTypeId', 'name']
                            }
                        }
                    }
                },
                ready: function () {

                    // listen for data changes
                    this.listen(this, 'data-changed', 'dataChanged');

                    // listen to the event fired when cachable resources are loaded
                    this.listen(this, 'states-loaded', 'bindStatesToAutocomplete');
                    this.listen(this, 'markets-loaded', 'bindMarketsToAutocomplete');

                },
                dataChanged: function () {
                    this.bindStatesToAutocomplete();
                    this.bindMarketsToAutocomplete();
                    // convert isHeadquarters flag to a true boolean for the checkbox
                    this.set('data.isHeadquarters', this.data.isHeadquarters === true || parseInt(this.data.isHeadquarters) === 1);
                },
                confirmDelete: function () {
                    this.$.confirmDelete.open();
                },
                showProperties: function () {
                    this.getPropertyView().set('props',this.childResources.properties.data);
                    this.getPropertyView().set('companyInstanceId',this.getId());
                    window.propertiesModal.open();
                },
                bindStatesToAutocomplete: function () {

                    // attach states to autocomplete
                    this.$.stateSelector.source = sharedCachableResources.states.data;

                    this.setStateAutocompleteValue();
                },
                setStateAutocompleteValue: function() {
                    // set current value of the autocomplete to the value of the instance
                    if ( !this.data.stateId ) {
                        return;
                    }
                    var state = sharedCachableResources.states.indexes.stateId[this.data.stateId];
                    this.$.stateSelector.setOption({
                        text: state.name,
                        value: state.stateId
                    });
                },
                bindMarketsToAutocomplete: function () {

                    // attach states to autocomplete
                    this.$.marketSelector.source = sharedCachableResources.markets.data;

                    this.setMarketAutocompleteValue();
                },
                setMarketAutocompleteValue: function() {
                    // set current value of the autocomplete to the value of the instance
                    if ( !this.data.market_code ) {
                        return;
                    }
                    var market = sharedCachableResources.markets.indexes.market_code[this.data.market_code];
                    this.$.marketSelector.setOption({
                        text: market.market_name,
                        value: market.market_code
                    });
                },
                getPropertyView: function() {
                    propertyView = propertyView || window.propertiesModal.querySelector('property-view');
                    return propertyView;
                }
            });
        })();
    </script>

</dom-module>
