<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-autocomplete/paper-autocomplete.html">
<link rel="import" href="../behaviors/api-resource-behaivor.html">

<dom-module id="property-view">

    <template>
        <style>

            :host {
                display: block;
            }

            paper-card paper-input,paper-autocomplete {
                width: 95%;
                padding-left:1em;
            }

            paper-card {
                width: 100%;
            }
            paper-icon-button.save {
                color: var(--paper-light-green-500);
            }
            paper-icon-button.save:hover {
                background-color: var(--paper-light-green-500);
                color: var(--paper-grey-200);
            }

            paper-icon-button.delete {
                float:right;
                color: var(--paper-red-a200);
            }
            paper-icon-button.delete:hover {
                background-color: var(--paper-red-a200);
                color: var(--paper-grey-200);
            }

        </style>

        <paper-card heading="{{data.name}}">
            <div>
                <paper-input value="{{data.companyInstancePropertyId}}" label="Property Id"></paper-input>
                <paper-input value="{{data.name}}" label="Name"></paper-input>
                <paper-input value="{{data.value}}" label="Value"></paper-input>
                <paper-autocomplete value="{{data.sourceTypeId}}" id="sourceTypeSelector" text-property="name" value-property="sourceTypeId" label="Source"></paper-autocomplete>
<!--                <paper-input value="{{data.createdAt}}" label="Created"></paper-input>-->
<!--                <paper-input value="{{data.updatedAt}}" label="Updated"></paper-input>-->
            </div>
            <paper-icon-button id="save" icon="save" on-click="saveResource" class="save">Save</paper-icon-button>

            <template is="dom-if" if="{{data.companyInstancePropertyId}}">
                <paper-icon-button id="delete" icon="delete" on-click="confirmDelete" class="delete"></paper-icon-button>
            </template>
        </paper-card>

        <confirm-delete-view id="confirmDelete" on-yes="deleteResource">
            Are you sure you want to delete this company and its instances?
        </confirm-delete-view>

        <iron-ajax
            id="getSourceType"
            auto
            handle-as="json"
            on-response="parseSourceTypeResponse"
        ></iron-ajax>
    </template>

    <script>
        (function () {

            var sourceTypes = {
                data: null,
                sorted: {},
                map: {},
                fetching: false,
                fetched: false
            };

            var fetchedEvent = new Event('source-types-fetched');
            var element = document.createElement('div');

            Polymer({
                is: 'property-view',
                behaviors: [
                    Datahub.ApiResourceBehavior
                ],
                properties: {
                    idField: {
                        value:'companyInstancePropertyId'
                    },
                    url: {
                        value: Datahub.apiUrl + '/api/v1/property'
                    },
                    removeFromDomOnDelete: {
                        value: true
                    }
                },
                ready: function () {

                    // if we have already gotten the sourceTypes, just attached them to autocomplete
                    if ( sourceTypes.fetched ) {
                        this.$.sourceTypeSelector.source=sourceTypes.data;
                        return;
                    }

                    // listen to the event fired when the sourceTypes are fetched
                    var self = this;
                    element.addEventListener('source-types-fetched', function () {

                        // attach sourceTypes to autocomplete
                        self.$.sourceTypeSelector.source=sourceTypes.data;

                        // set current value of the autocomplete to the value of the instance
                        if ( !self.data.sourceTypeId ) {
                            return;
                        }
                        var sourceType = sourceTypes.sorted[self.data.sourceTypeId];
                        self.$.sourceTypeSelector.setOption({
                            text: sourceType.name,
                            value: sourceType.sourceTypeId
                        });
                    });

                    // first instance will do the actual api call for the sourceTypes
                    if ( !sourceTypes.fetching ) {
                        Datahub.ajaxSpinners.add();
                        sourceTypes.fetching = true;
                        this.$.getSourceType.url = Datahub.apiUrl + '/api/v1/sourcetype';
                    }
                },
                attached: function () {
                    if ( !this.data.sourceTypeId && sourceTypes.fetched && sourceTypes.map.datahub ) {
                        this.$.sourceTypeSelector.setOption({
                            text: sourceTypes.map.datahub.name,
                            value: sourceTypes.map.datahub.sourceTypeId
                        });
                    }
                },
                confirmDelete: function () {
                    this.$.confirmDelete.open();
                },
                parseSourceTypeResponse: function (event, request) {

                    Datahub.ajaxSpinners.remove();

                    // set flags that we have fetched the sourceTypes
                    sourceTypes.fetched = true;
                    sourceTypes.fetching = false;

                    // save sourceTypes api return
                    sourceTypes.data = request.xhr.response;

                    // create map of sourceTypeId to sourceType objects
                    sourceTypes.sorted = {};
                    sourceTypes.map = {};
                    sourceTypes.data.map(function(sourceType){
                        sourceTypes.sorted[sourceType.sourceTypeId] = sourceType;
                        sourceTypes.map[sourceType.name] = sourceType;
                    });

                    // notify all other elements that the sourceTypes have been fetched
                    element.dispatchEvent(fetchedEvent);
                },
            });
        })();
    </script>

</dom-module>
