<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-autocomplete/paper-autocomplete.html">
<link rel="import" href="../behaviors/api-resource-behaivor.html">

<dom-module id="property-view">

    <template>
        <style>

            :host {
                display: block;
            }

            paper-card paper-input,paper-autocomplete {
                width: 95%;
                padding-left:1em;
            }

            paper-card {
                width: 100%;
            }
            paper-icon-button.save {
                color: var(--paper-light-green-500);
            }
            paper-icon-button.save:hover {
                background-color: var(--paper-light-green-500);
                color: var(--paper-grey-200);
            }

            paper-icon-button.delete {
                float:right;
                color: var(--paper-red-a200);
            }
            paper-icon-button.delete:hover {
                background-color: var(--paper-red-a200);
                color: var(--paper-grey-200);
            }

        </style>

        <paper-card heading="{{data.name}}">
            <div>
                <paper-input value="{{data.companyInstancePropertyId}}" label="Property Id"></paper-input>
                <paper-input value="{{data.name}}" label="Name"></paper-input>
                <paper-input value="{{data.value}}" label="Value"></paper-input>
                <paper-autocomplete value="{{data.sourceTypeId}}" id="sourceTypeSelector" text-property="name" value-property="sourceTypeId" label="Source"></paper-autocomplete>
<!--                <paper-input value="{{data.createdAt}}" label="Created"></paper-input>-->
<!--                <paper-input value="{{data.updatedAt}}" label="Updated"></paper-input>-->
            </div>
            <paper-icon-button id="save" icon="save" on-click="saveResource" class="save">Save</paper-icon-button>

            <template is="dom-if" if="{{data.companyInstancePropertyId}}">
                <paper-icon-button id="delete" icon="delete" on-click="confirmDelete" class="delete"></paper-icon-button>
            </template>
        </paper-card>

        <confirm-delete-view id="confirmDelete" on-yes="deleteResource">
            Are you sure you want to delete this company and its instances?
        </confirm-delete-view>

    </template>

    <script>
        (function () {

            Polymer({
                is: 'property-view',
                behaviors: [
                    Datahub.ApiResourceBehavior
                ],
                properties: {
                    idField: {
                        value:'companyInstancePropertyId'
                    },
                    url: {
                        value: Datahub.apiUrl + 'property'
                    },
                    removeFromDomOnDelete: {
                        value: true
                    },
                    sharedCachableResources: {
                        value: {
                            'sourceTypes': {
                                url: Datahub.apiUrl + 'sourcetype',
                                indexBy: ['sourceTypeId', 'name']
                            }
                        }
                    }
                },
                ready: function () {

                    // listen to the event fired when the sourceTypes are fetched
                    this.listen(this, 'sourceTypes-loaded', 'bindSourceTypesToAutocomplete');

                    // listen for data changes
                    this.listen(this, 'data-changed', 'dataChanged');
                },
                attached: function () {
                    this.dataChanged();
                },
                dataChanged: function () {
                    this.bindSourceTypesToAutocomplete();
                    if ( !this.data.sourceTypeId && sharedCachableResources.sourceTypes.fetched && sharedCachableResources.sourceTypes.map.datahub ) {
                        this.$.sourceTypeSelector.setOption({
                            text: sourceTypes.map.datahub.name,
                            value: sourceTypes.map.datahub.sourceTypeId
                        });
                    }
                },
                confirmDelete: function () {
                    this.$.confirmDelete.open();
                },
                bindSourceTypesToAutocomplete:function () {

                    // attach sourceTypes to autocomplete
                    this.$.sourceTypeSelector.source = sharedCachableResources.sourceTypes.data;

                    this.setSourceTypesAutocompleteValue();
                },
                setSourceTypesAutocompleteValue: function() {

                    // set current value of the autocomplete to the value of the instance
                    if ( !this.data.sourceTypeId ) {
                        return;
                    }
                    var sourceType = sharedCachableResources.sourceTypes.indexes.sourceTypeId[this.data.sourceTypeId];
                    this.$.sourceTypeSelector.setOption({
                        text: sourceType.name,
                        value: sourceType.sourceTypeId
                    });
                }
            });
        })();
    </script>

</dom-module>
